@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Sen', sans-serif;
    background: linear-gradient(#434343,#000000)
}

/*Footer*/

.picture{
    width:290px;
    height:250px;
    float:left;

}

.thefooter{
    float:right;
    width:100%;
    background: linear-gradient(#434343,#000000)

}

ul{
    margin: 0 130px;
    position:
    
}

li{
    list-style-type:none;
    float:right;
    line-height:32px;
}

h3{
    font-weight:bold;
    text-decoration: underline;
    margin-bottom:15px;
    margin-top:29px;
}

li a{
    text-decoration: none;
    color:rgb(7, 7, 7);
    margin-bottom:20px;
}

.Navigationto{
    display:flex;
    float:right;
    display:inline-block;
}

.Navigationto li a{
    display:flex;
}

.connectto{
    display:flex;
    float:right;
}

.connectto li a{
    display:flex;
}

ul li a:hover{
    color: rgba(247,139,36,255);

}

.theaccount{
    display:flex;
    float:right;
}

.theaccount li a{
    display:flex;
}

/*Footer*/

/*Home*/

img{
    width:100px;
    height:100px;
}

h1{
    text-decoration: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    color:rgba(247,139,36,255);
    margin-left:150px;
    margin-top:70px;
    margin-bottom:100px;
    font-weight:bolder;
    font-size: 70px;
    
}


.popular a .theimage{
    width:300px;
    height:400px;
}

.theimage{
    width:300px;
    height:400px;
}

.whatpopular h2{
    font-weight:bolder;
    font-size:35px;
    text-decoration: underline;
    margin-bottom:7px;
    color:rgba(247,139,36,255);
}

@media screen and (max-width:528px) {
    h1{
        font-size:40px;
        float:left;
        margin-left:0;
        margin-top:0;
        display:block;
        float:left;
    }
    .thefooter{
        display:flex;
        size:100vh 100vw
        
        
    }
    .whatpopular{
        
    }
    
    .theaccount a{
        color:orangered
    }
    .theaccount h3{
        color:orangered;
    }
    
    main{
        overflow: hidden;
    }
}